{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}My shop{% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
<ul class="nav navbar-nav">
    {% if request.user.is_authenticated %}
		<li>
				<a href="{% url 'shop:product_list' %}">Products</a>
    </li>
		<li>
        <a href="{% url 'signout' %}">Sign Out <i class="fas fa-sign-out-alt"></i></a>
    </li>
		{% else %}
		<li>
				<a href="{% url 'signup' %}">Sign Up<i class="fas fa-user-plus"></i></a>
		</li>
		<li>
				<a href="{% url 'signin' %}">Sign In<i class="fas fa-sign-in-alt"></i></a>
		</li>
		{% endif %}
    
    
  <div id="header">
    <a href="/" class="logo">My shop</a>
  </div>
  <div id="subheader">
    <div class="cart">
      {% with total_items=cart|length %}
        {% if cart|length > 0 %}
          Your cart:
        <a href="{% url "cart:cart_detail" %}">
            {{ total_items}} item{{ total_items|pluralize  }},
            €{{ cart.get_total_price }}
        </a>
        {% else %}
          Your cart is empty.
        {% endif %}
      {% endwith %}  
    </div>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>